body {

  margin: 40px 0 0 0 ;
  background-image: url("pattern-background-desktop.svg");
  width: 1440px;
  background-color: hsl(225, 100%, 94%);
  background-repeat: no-repeat;
  text-align: center;
  font-family: 'Red Hat Display', sans-serif;
}
h1{
  color:hsl(223, 47%, 23%);
  font-weight: 900;
}

.back{
  padding-bottom: 30px;
display: inline-block;
background-color: white;
width: 450px;
border-radius: 15px;

}
.change {
  text-decoration: none;
  font-weight: 700;
  position: absolute;
  top: 50%;
  left: 85%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  color: hsl(223, 47%, 23%);
}
.change:hover{
  color: hsl(224, 23%, 55%);
}
.cancel{
  margin-top: 28px;
  display: inline-block;
  text-decoration: none;
  font-weight:900;
  font-size: 14px;
  color:  hsl(224, 23%, 55%);
}
.cancel:hover{
  color: hsl(223, 47%, 23%)
}

.text {
  font-size: 16px;
  width: 60%;
  margin: auto;
  margin-bottom: 30px;
  color:  hsl(224, 23%, 55%);
}

.character {
  border-radius: 15px 15px 0 0;
}

.plan-box {

  border-radius: 9px;
  position: relative;
  margin: auto;
  width: 300px;
  height: 80px;
  background-color:hsl(225, 100%, 98%);
  padding: 0;
}

.music-icon {
  position: absolute;
  left: 4%;
  top: 50%;
  transform: translate(-4%, -50%);
}

.annual-plan {
  text-align: left;
  font-size:16px;
  font-weight: 900;
  margin: 0;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 37%;
  transform: translate(-50%, -50%);
}

.sp {
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  margin-top: 4px;
  text-align: left;
  color: hsl(224, 23%, 55%);
}
.button{
  margin-top: 50px;
}


.btn {
  font-weight: 700;
  text-align: center;
  -webkit-border-radius: 9;
  -moz-border-radius: 9;
  border-radius: 9px;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  background: hsl(245, 75%, 52%);
  padding: 9px 80px 10px 80px;
  text-decoration: none;
}

.btn:hover {
  background: hsl(245, 75%, 52%);
  background-image: -webkit-linear-gradient(top, hsl(245, 75%, 52%), hsl(223, 47%, 23%));
  background-image: -moz-linear-gradient(top, hsl(245, 75%, 52%), hsl(223, 47%, 23%));
  background-image: -ms-linear-gradient(top, hsl(245, 75%, 52%), hsl(223, 47%, 23%));
  background-image: -o-linear-gradient(top, hsl(245, 75%, 52%), hsl(223, 47%, 23%));
  background-image: linear-gradient(to bottom, hsl(245, 75%, 52%), hsl(223, 47%, 23%));
  text-decoration: none;
}
